:root {
    /* --container-background: linear-gradient(0deg, #ff8100, #ff00c6); */
    --container-background: linear-gradient(0deg, #ffcf9d, #ffb1ee);

    --background-a: repeating-linear-gradient(-45deg, #ffddb8 0 15px, #ffe5ca 15px 30px);
    --background-b: repeating-linear-gradient(-45deg, #ffcaf4 0 10px, #ffe5ca 10px 20px);
    --background-c: repeating-linear-gradient(0deg, #ffd7bf 0 10px, #ffe5ca 10px 20px);
    /* --background-d: repeating-linear-gradient(-45deg, #ffb1ee 0 15px, #ffdaf7 15px 30px); */
    --background-d: repeating-linear-gradient(-45deg, #D88C9A 0 10px, #FBACBE 10px 20px);
}

@font-face {
    font-family: 'Pixel';
    src: url('resources/font/PixelifySans-VariableFont_wght.ttf');
}

* {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-drag: none;
}

html {
    font-family: 'Pixel';
}

body {
    background-color: #282830;
    background-color: navajowhite;
    min-height: 100vh;
    margin: 0;
    color: white;
    overflow: hidden;
}

.loading-text {
    position: absolute;
    left: 0px;
    width: 100%;
    color: #ffb362;
    z-index: 99;
    top: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(0deg, #FFCF9D, #FFB1EE); */
    background: var(--background-a);
    border-radius: 5px;
    font-size: xx-large;
    /* box-shadow: inset 10px -12px 25px 8px rgba(0, 0, 0, 0.25); */
    flex-direction: column;
}

.graphics-wrapper {
    width: 100%;
    max-width: 192px;
    position: relative;
    outline: 5px solid #00000040;
    border-radius: 5px;
    overflow: hidden;
    /* box-shadow: 8px 20px 20px 3px #00000040; */
}

.graphics-canvas {
    background-color: #ffe5ca;
    image-rendering: pixelated;
    width: 100%;
    /* border-top-left-radius: 1000px;
    border-top-right-radius: 1000px; */
}

.root {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameplay-main-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}

.gameplay-main-buttons>button {
    flex-grow: 1;
}

.gameplay-main-buttons>button.disabled {
    filter: grayscale();
    pointer-events: none;
}

.generic-empty-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    /* display: flex; */
    /* flex-direction: column; */
    top: 0px;
    left: 0px;
    color: black;
    overflow: auto;
    z-index: 2;
    background: var(--container-background);
    /* align-items: center;
    justify-content: center; */
    text-transform: uppercase;
}

/* @keyframes menu-animation {
    from {
        opacity: 0;
    }
} */

@keyframes menu-animation {
    from {
        opacity: 0;
        transform: translateX(-4px);
    }
}

.generic-list-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    color: black;
    overflow: auto;
    z-index: 2;
    background: var(--container-background);
}

.menu-animation > * {
    animation: menu-animation 0.2s both !important;
}
.menu-animation > *:nth-child(n+2) {
    animation-delay: calc(0.025s * (var(--child-index) - 1)) !important;
}
.menu-animation > *:nth-child(2) {
    animation-delay: 0.025s !important;
}
.menu-animation > *:nth-child(3) {
    animation-delay: 0.05s !important;
}
.menu-animation > *:nth-child(4) {
    animation-delay: 0.075s !important;
}
.menu-animation > *:nth-child(5) {
    animation-delay: 0.1s !important;
}
.menu-animation > *:nth-child(6) {
    animation-delay: 0.125s !important;
}
.menu-animation > *:nth-child(7) {
    animation-delay: 0.15s !important;
}
.menu-animation > *:nth-child(8) {
    animation-delay: 0.175s !important;
}
.menu-animation > *:nth-child(9) {
    animation-delay: 0.2s !important;
}
.menu-animation > *:nth-child(10) {
    animation-delay: 0.225s !important;
}

.list-item {
    all: unset;
    height: 40px;
    color: black;
    font-family: sans-serif;
    padding: 10px 20px;
    border-bottom: 1px solid gray;
    font-family: 'Pixel';
    cursor: pointer;
    flex-shrink: 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.list-item:last-of-type {
    border-bottom: none;
}

.list-item {
    border: 0;
    position: relative;
    height: 22px;
    text-wrap: nowrap;
    overflow: hidden;
}

.list-item:before {
    width: 8px;
    height: calc(80% - 2px);
    background: white;
    content: "";
    position: absolute;
    left: 5px;
    width: calc(100% - 10px);
    z-index: -1;
    border-radius: 20px;

    box-shadow: inset 0px -4px 0px 2px #0000001a;

    outline: 2px solid white;
}

/* .list-item:active,
.list-item:hover {
    padding-left: 30px;
} */
.list-item:active:before,
.list-item:hover:before,
.w-btn:hover,
.w-btn:active,
.slide-btn:hover::before,
.slide-btn:active::before {
    /* outline: 4px solid rgba(255, 255, 255, 0.281); */
    outline-offset: 1px;
}

.list-item:active:after,
.list-item:hover:after,
.grid-item:active:after,
.grid-item:hover:after,
.generic-btn:active:after,
.generic-btn:hover:after
{
    width: 11px;
    height: 9px;
    content: "";
    position: absolute;
    left: -2px;
    background: url(resources/img/ui/pointer_right.png);
    background-position: 50% 50%;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    animation: infinite 0.5s pointer-anim alternate;
}

@keyframes pointer-anim {
    from {
        left: -5px;
    }
}

.list-item:disabled {
    pointer-events: none;
    color: gray;
}

.list-item:disabled::before {
    opacity: 0.6;
}

.list-title {
    /* margin: 5px;
    background: white;
    padding: 15px 10px;
    border-radius: 10px;
    text-transform: uppercase; */
    margin: 5px 0px;
}

.list-text {
    margin: 5px 15px;
    background: #222285;
    color: white;
}

.generic-slider-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--background-c);
    display: flex;
    top: 0px;
    left: 0px;
    color: black;
    z-index: 2;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.generic-slider-container .main-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.generic-slider-container .actions-container {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 10px);
    padding-bottom: 5px;
    align-items: flex-end;
}

.generic-slider-container .content {
    text-align: -webkit-center;
    /* background: white; */
    /* border-radius: 20px; */
    padding: 10px 0px;
    min-width: 50%;
    overflow: hidden;
}

.generic-slider-container .content img {
    outline: 2px solid #ffb4e6;
    border-radius: 5px;
    margin-bottom: 5px;
    image-rendering: pixelated;
    max-height: 64px;
    object-fit: cover;
}

.slide-btn {
    height: 100%;
    display: inline-flex;
    align-items: center;
    font-weight: bold;

    height: 100%;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    position: relative;

    z-index: 2;
}

.slide-btn:before {
    width: 20px;
    height: 20px;
    content: "";
    position: absolute;
    background: white;
    border-radius: 100%;
    left: 0px;
    z-index: -1;
}

.slide-btn.disabled:before {
    background: rgb(245, 245, 245);
}

.slide-btn.slide-left:before {
    margin-left: 5px;
}

.slide-btn.slide-right:before {
    margin-left: -5px;
}

.slide-left {
    padding-left: 10px;
}

.slide-right {
    padding-right: 10px;
}

.slider-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.slide-btn:before {
    box-shadow: inset 0px -4px 0px 2px #0000001a;
    outline: 2px solid white;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.custom-file-upload {
    cursor: pointer;
}

.custom-file-upload {
    width: calc(100% + 18px);
    padding: 7px;
    margin: -16px;
    padding-left: 16px;
}

input[type="file"] {
    width: -webkit-fill-available;
}

input {
    all: unset;
    background: rgba(255, 255, 255, 0.849);
    margin: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #ffcf9d;
    text-transform: uppercase;
    color: #3d00ff;
}

input:focus {
    outline: 3px solid #ffffff7a;
    border-color: #ff80006b;
    background: white;
}

@keyframes slider-item-anim-in-left {
    from {
        transform: translateX(-200px);
    }
}

@keyframes slider-item-anim-in-right {
    from {
        transform: translateX(200px);
    }
}

@keyframes slider-item-anim-out-left {
    to {
        transform: translateX(-200px);
    }
}

@keyframes slider-item-anim-out-right {
    to {
        transform: translateX(200px);
    }
}

.sales-notice {
    background: red;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: -5px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: fade-pulse-anim 1s ease-in infinite;
}

@keyframes fade-pulse-anim {
    50% {
        opacity: 0.3;
    }
}

.generic-slider-container .additional-text {
    position: absolute;
    top: 5px;
    pointer-events: none;
    left: 5px;
    background: #ffffffb5;
    padding: 2px 5px;
    border-radius: 5px;
    animation: fade-in-anim 0.2s;
    text-wrap: nowrap;
    font-size: smaller;
    left: 0px;
    top: 0px;
}

@keyframes fade-in-anim {
    from {
        opacity: 0.2;
    }
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
}

.generic-grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: var(--container-background);
    /* background: white; */
    background: linear-gradient(0deg, #ffe5ca, #ffdaf7);
}

.grid-item {
    width: 33.333333%;
    height: 33.333333%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: xx-large;
    /* filter: grayscale(1) brightness(1.2) contrast(1); */
    text-shadow: 0px 1px 1px #0000004a;

    color: rgb(255, 255, 255);
}

.grid-item img {
    width: 35px;
}

.grid-item:before {
    position: absolute;
    width: 55px;
    height: 55px;
    content: "";
    /* background: rgba(255, 255, 255, 0.9); */
    background: var(--container-background);
    z-index: -1;
    border-radius: 100px;
    box-shadow: inset -10px 20px rgba(255, 255, 255, 0.158), 0 0px 12px 1px #ffe5ca;
    background: linear-gradient(45deg, #ffb362, #ff72e0);
    /* outline: 1px solid #ffffff; */
    /* outline: 3px solid #ffffff63; */
}

.grid-item:hover:before {
    background-color: white;
    outline: 5px solid #ffffff3b;
}

.grid-item:nth-child(1):before {
    background: #fa9189;
}

.grid-item:nth-child(2):before {
    background: #fcae7c
}

.grid-item:nth-child(3):before {

    background: #99ccff
}

.grid-item:nth-child(4):before {
    background: #ffcc99
}

.grid-item:nth-child(5):before {
    background: rgb(164, 228, 169)
}

.grid-item:nth-child(6):before {

    /* background: #ffe699 */
    background: #fb88ff
}

.grid-item:nth-child(7):before {
    background: #ff99cc
}

.grid-item:nth-child(8):before {
    background: #d1bdff
}

.grid-item:nth-child(9):before {}

button {
    appearance: none;
    all: unset;
}

button {
    font-family: 'Pixel';
    cursor: pointer;
}

.list-item.back-btn {
    color: #222285;
    font-weight: bold;
}

.list-item.back-btn::before {
    background-color: #DBDBF4;
    /* outline: none; */
    outline-color: #DBDBF4;
    /* outline-offset: -1px;
    outline-width: 3px; */
}

.back-btn {
    margin-top: auto;
    border-bottom: none;
}

.disabled {
    color: gray;
    pointer-events: none;
}

.uppercase {
    text-transform: uppercase;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.hidden {
    display: none !important;
}

.progressbar {
    border-radius: 5px;
    overflow: hidden;
}

.progressbar-background {
    /* background-color: rgb(193, 193, 193); */
    width: 100%;
    height: 20px;
    /* padding: 5px; */
    /* background: repeating-linear-gradient(90deg, black 5px, transparent 8px); */
}

.progressbar-rod {
    background-color: rgb(0, 0, 0);
    height: 100%;
    border-right: 5px solid white;
}

.btn {
    all: unset;
    border: none;
    text-align: center;
    border: 1px solid white;
    background-color: black;
    cursor: pointer;
    min-height: 30px;
}

.main-action-icon {
    all: unset;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.382);
    height: 30px;
    /* filter: grayscale(); */
    z-index: 1;
    cursor: pointer;
}

.main-action-icon:hover {
    filter: none;
    background-color: rgba(0, 0, 0, 0.544);
}

.background-canvas {
    background-color: transparent;
    position: absolute;
    width: 60vw;
    /* height: 50vh; */
    filter: blur(100px);
    opacity: 0.5;
    display: none;
}

.screen-shell {
    position: absolute;
    image-rendering: pixelated;
    z-index: 5;
    scale: 3;
    top: calc(50% - 82px);
    left: calc(50% - 58px);
    pointer-events: none;
}

.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-position: 50% 50%;
    filter: contrast(0.8) brightness(0.6) blur(10px);
    scale: 1.1;
    display: none;
}

.dom-shell {
    width: 320px;
    height: 400px;
    position: absolute;
    background: 50% 50% / cover rgb(255, 237, 217);
    border-radius: 100% 100% 95% 95%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.333) 20px 20px 32px inset, rgb(255 255 255 / 33%) -12px -20px 16px inset;
    filter: drop-shadow(rgba(0, 0, 0, 0.082) 4px 10px 18px);
}

.dom-shell>.logo {
    position: absolute;
    left: calc(50% - 75px);
    top: 40px;
    width: 150px;
    /* filter: sepia(1) hue-rotate(192deg) saturate(7.5) contrast(1) brightness(1); */
}

:root {
    --shell-btn-size: 28px;
    --shell-btn-space: 64px;
}

.dom-shell .shell-btn {
    background: linear-gradient(180deg, #f7f7f7, white);
    border-radius: 50px;
    border-bottom: 3px solid #00000057;
    box-shadow: 0 7px 5px -3px #00000061;
    height: calc(var(--shell-btn-size) - 3px);
    width: var(--shell-btn-size);
    position: absolute;
    filter: brightness(0.9);
    outline: 2px solid rgba(255, 255, 255, 0.357);
}

.dom-shell .shell-btn:active {
    border-bottom-width: 0px;
    box-shadow: none;
}

.dom-shell .shell-btn.main {
    left: calc(50% - (var(--shell-btn-size) / 2));
    bottom: 10%;
    background-position: 0%;
}

.dom-shell .shell-btn.right {
    left: calc(50% - (var(--shell-btn-size) / 2) + var(--shell-btn-space));
    bottom: 14%;
    background-position: 0%;
}

.dom-shell .shell-btn.left {
    left: calc(50% - (var(--shell-btn-size) / 2) - var(--shell-btn-space));
    bottom: 14%;
    background-position: 0%;
}

c-sprite.ui-food {
    position: absolute;
    z-index: 10;
    top: calc(50% - -18px);
    left: calc(50% - 12px);
    transform: scale(1.2);
    pointer-events: none;
}

.user-id {
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: x-small;
    padding: 5px;
    text-shadow: none !important;
}

.post-container {
    position: absolute;
    left: 0px;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 3;
    text-transform: uppercase;
}

.post-canvas {
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
    margin-top: -70px;
    background-color: white;
}

.post-text {
    position: absolute;
    top: calc(100% - 85px);
    width: calc(100% - 20px);
    height: 100%;
    padding: 5px 10px;
    background: #ffffff;
    border-top: 4px solid #6022ff;
    color: #272727;
    background: repeating-linear-gradient(90deg, #ebe4ff 20%, white 80%);
    background-size: 35px;
}

.post-header {
    position: absolute;
    top: 0px;
    background: linear-gradient(45deg, #6022ff 50%, #b294ff);
    width: 100%;
    height: 30px;
    line-height: 33px;
    padding-left: 50px;
    border-bottom: 1px solid #ffffff5c;
    color: #272727;
    font-weight: bold;
    color: white;
}

.post-close {
    position: absolute;
    right: 2.6px;
    height: 25px;
    width: 25px;
    background: #ffffff1a;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2.5px;
    border-radius: 100px;
}

.post-profile-icon {
    position: absolute;
    top: 10px;
    left: 12px;
    scale: 1.6;
    background: #4800ff;
    display: flex;
    width: 22px;
    height: 22px;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
    outline: white 1px solid;
}

.post-profile-icon>c-sprite {
    margin-right: 0px !important;
}

input#background-color-picker {
    all: unset;
    width: 100%;
    height: 100%;
}

/* .dom-shell-pattern {
    width: 200px;
    height: 200px;
    content: "";
    position: absolute;
    border-radius: 100%;
}

.dom-shell-pattern:nth-child(3) {
    background: rgb(255, 115, 50);
    transform: translate(-50px, -50px);
    scale: 1;
}
.dom-shell-pattern:nth-child(2) {
    background: rgb(255, 101, 30);
    transform: translate(-50px, -50px);
    scale: 1.5;
}
.dom-shell-pattern:nth-child(1) {
    background: rgb(255, 81, 0);
    transform: translate(-50px, -50px);
    scale: 5;
    box-shadow: 1px 1px 5px inset rgb(255, 255, 255);
} */

.badge {
    background: gray;
    font-size: x-small;
    padding: 2px 5px;
    color: white;
    border-radius: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    /* height: 15px; */
    /* width: 13px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    font-weight: bold;
}

.badge.red {
    background: red;
}

/* .dom-shell > * {
    position: absolute;
}
.dom-shell > *:nth-child(1) {
    transform: translate(-80px, -80px);
}
.dom-shell > *:nth-child(2) {
    transform: translate(-86px, 40px);
}
.dom-shell > *:nth-child(3) {
    transform: translate(90px, 213px);
} */

.screen-wrapper {
    height: 192px;
}

/* battle */
.battle-participant-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}

.battle-participant-status-wrapper {
    width: 100%;
}

.w-btn {
    /* outline: 1px dashed black; */
    background-color: white;
    padding: 0px 5px;
    text-transform: uppercase;
    border-radius: 20px;
    position: relative;
}

.w-btn:hover {
    outline-offset: 1px;
}

.w-btn {
    box-shadow: inset 0px -4px 0px 2px #0000001a;
    outline: 2px solid white;
}

.cancel-btn {
    background: #222285;
    /* outline: none; */
    outline-color: #222285;
    outline-offset: -1px;
    outline-width: 3px;
    color: white;
}

.install-prompt {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    background: rgb(78, 125, 255);
    width: 100%;
    align-items: center;
    justify-content: center;
}

.install-prompt .app-icon {
    border: 1px solid white;
    border-radius: 5px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.175)
}

.install-prompt button {
    background-color: rgba(255, 255, 255, 0.105);
    padding: 2px 8px;
    border: 1px solid white;
    border-radius: 5px;
}

/* generic stuff */
.flex-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    align-content: center;
}

.height-100p {
    height: 100%;
}

.flex-dir-col {
    flex-direction: column;
}

.flex-dir-row {
    flex-direction: row;
}

.height-auto {
    height: auto;
}

.bg-white {
    background: white;
    /* box-shadow: 4px 4px 0px 0px #00000042; */
}

.b-radius-10 {
    border-radius: 10px;
}

.bg-bef-1:before {
    background: #e5acde !important;
}

.inner-padding {
    padding: 10px 20px;
}

.m {
    margin: 6px;
}

.text-center {
    text-align: center;
}

.modal {
    position: fixed;
    top: 0px;
    left: 0px;
    background: white;
    width: calc(100% - 20px);
    color: black;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.side-container {
    position: fixed;
    top: 40px;
    right: 0px;
    background: white;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-transform: uppercase;
    font-size: small;
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-weight: bold;
}

.side-icon {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-right: 5px;
    background: var(--container-background);
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.494);
}

.side-container a {
    all: unset;
    text-decoration-line: underline;
    color: #F44336;
    cursor: pointer;
}

.side-icon>i {
    animation: side-icon-anim 0.5s infinite alternate linear;
}

@keyframes side-icon-anim {
    from {
        transform: translateY(1.5px)
    }

    to {
        transform: translateY(-1.5px)
    }
}

/* games */
.timing-bar-container {
    background: #ffffffc4;
    width: 180px;
    height: 10px;
    border-radius: 10px;
    display: flex;
    position: relative;
    border: 4px solid rgb(0, 0, 0);
}

.timing-bar-rod {
    height: 100%;
}

.timing-bar-rod:nth-child(1) {
    background-color: greenyellow;
    width: 70%;
}

.timing-bar-rod:nth-child(2) {
    background-color: orange;
    width: 20%;
}

.timing-bar-rod:nth-child(3) {
    background-color: red;
    width: 10%;
}

.timing-bar-cursor {
    width: 6px;
    height: 15px;
    background: white;
    position: absolute;
    border-radius: 100px;
    bottom: -3px;
    outline: 2px solid black;
}

.webcam-container {
    overflow: hidden;
    background: black;
}

.webcam-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.webcam-video.taken {
    animation: webcam-shutter-animation 0.5s linear;
}

@keyframes webcam-shutter-animation {
    5% {
        filter: brightness(0.5);
    }

    40% {
        filter: unset;
    }
}

#webcam-button {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    left: calc(50% - 20px);
    bottom: 10px;
    outline: solid lightgray 4px;
    transition: background-color 0.5s;
}

#webcam-button:active,
#webcam-button:hover {
    background-color: rgb(138, 138, 138);
    /* outline-color: white; */
}

#webcam-change-button {
    position: absolute;
    left: 10px;
    bottom: 12px;
    color: white;
    width: 30px;
    height: 30px;
    background: #0000002e;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}


/* redesign */
:root {
    --color-a: #FFD9DA;
    --color-b: #EA638C;
    --color-c: #8D0034;
    --color-d: #4E36D3;
    --color-e: #8CD867;
}


body {
    text-transform: uppercase;
}

.generic-btn+.generic-btn {
    margin-top: 4px;
}

.generic-btn {
    height: 28px;
    background: white;
    padding: 2px 12px;
    border-radius: 2px;
    color: black;
    position: relative;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    text-wrap: nowrap;
}

a.generic-btn {
    text-decoration: none;
    padding-left: 26px;
}
a.generic-btn:before {
    content: "\f08e";
    left: 10px;
    position: absolute;
    font-family: "Font Awesome 6 Free";
    font-size: xx-small;
    padding: 2px;
    border-radius: 100%;
    
}

.generic-btn i {
    pointer-events: none;
}

.generic-btn.no-anim {
    animation: unset !important;
}

.generic-btn:disabled, .generic-btn.disabled {
    pointer-events: none;
    /* opacity: 0.8; */
    filter: saturate(0.0) contrast(0.8);
}

.generic-btn.stylized {
    border: 2px solid #b0beff;
    border-color: #ffb362;
    border-bottom-width: 4px;
    border-radius: 10px;
    background: #fff4e8;
    box-shadow: /* -15px -18px 0px -15px inset #ffd079,  */-20px -20px 0px -15px inset wheat;
    color: #ff8300;
    transition: all 0.07s;
    text-shadow: 1px 1px 0px #ffcf9d;
}

.generic-btn.stylized:hover {
    /* padding-left: 14px; */
}
.generic-btn.stylized:active {
    background: #ffecd7;
    scale: 0.95;
}

.generic-btn.floating-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    /* width: auto;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 5px */
}

.generic-btn.stylizedd {
    /* border: 2px solid #b0beff; */
    /* border-color: #ffb362; */
    /* border-bottom-width: 4px; */
    /* border-radius: 10px; */
    /* background: #fff4e8; */
    /* box-shadow: -20px -20px 0px -15px inset wheat; */
    /* color: #ff8300; */
    /* text-shadow: 1px 1px 0px #ffcf9d; */
    
    transition: all 0.07s;
    mask: url('resources/img/ui/ui_mask_01.png');
    background: white;
    border-radius: 0;
    mask-size: cover;
    image-rendering: pixelated;
}

.generic-btn.stylized.back-btn,
.generic-btn.primary.solid {
    background: #3d00ff;
    color: white;
    text-shadow: unset;
    box-shadow: unset;
    border-color: rgba(0, 0, 0, 0.418) !important;
    transition: all 0.07s;
    /* background-color: var(--color-d); */
}

.generic-btn.stylized.back-btn:active,
.generic-btn.primary.solid:active {
    background: #2f1190;
}

.generic-btn.primary.soft {
    color: #222285;
    background-color: #DBDBF4;
}

.bold {
    font-weight: bold;
}

/* element.style {
    padding: 4px;
    box-sizing: border-box;
} */
.generic-list-container {
    /* background: #ffe4bc; */
    background: var(--background-b);
    padding: 4px;
    box-sizing: border-box;
    overflow-x: hidden;

    /* background: var(--color-a); */
}
.generic-grid-container {
    background: linear-gradient(0deg, #ffe5ca, #ffdaf7);
    background: var(--background-a);
}

.back-btn {
    margin-top: unset;
}

.surface-stylized {
    margin: 5px 5px;
    background: #fff4e8;
    color: #ff8000;
    border: 2px solid #ffb362;
    box-shadow: 10px -20px 0px -15px inset wheat;
    text-shadow: 1px 1px 0px #ffcf9d;
    /* overflow: hidden; */
    border-radius: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.solid-surface-stylized {
    margin: 5px 5px;
    background: #ff8000;
    color: #fff7ee;
    text-shadow: 1px 1px 0px #934a00;
}

.slide-action {
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    border-radius: 100% !important;
}

hr {
    border: 0;
    height: 1px;
    background: #ffb362;
}

@keyframes fade-out {
    to {
        opacity: 0;
        /* background: black; */
    }
}
.fade-out {
    animation-name: fade-out;
    animation-fill-mode: forwards;
}

.family-tree__partners-container {
    display: flex;
    align-items: center;
    position: relative;
}

.family-tree__vertical-line {
    width: 30px;
    height: 2px;
    background: #3d00ff;
    margin: 0 5px;
}

.family-tree__horizontal-line {
    width: 2px;
    height: 30px;
    background: #ff00c6;
    margin: 5px 0;
    margin-left: 76px;
}

.family-tree__member-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    /* height: 36px; */
    flex-direction: column;
}

.family-tree__member-container small {
    font-size: x-small;
    font-weight: bold;
    color: var(--color-d);
    text-shadow: none;
}

.family-tree__gen-badge {
    position: absolute;
    left: calc(50% - 8px);
    width: 16px;
    height: 16px;
    background: #ffb1ee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #ff00c6;
    font-size: x-small;
}