@font-face {
    font-family: 'Pixel';
    src: url('resources/font/PixelifySans-VariableFont_wght.ttf');
}
* {
    -webkit-tap-highlight-color: transparent;
}
html {
    font-family: 'Pixel';
}
body {
    background-color: black;
    min-height: 100vh;
    margin: 0;
    color: white;
    overflow: hidden;
}
.graphics-wrapper{
    width: 100%;
    max-width: 200px;
    position: relative;
}
.graphics-canvas {
    background-color: rgb(0, 0, 0);
    image-rendering: pixelated;
    width: 100%;
    /* border-top-left-radius: 1000px;
    border-top-right-radius: 1000px; */
}
.root {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gameplay-main-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}
.gameplay-main-buttons > button {
    flex-grow: 1;
}
.gameplay-main-buttons > button.disabled {
    filter: grayscale();
    pointer-events: none;
}
.generic-list-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    color: black;
    overflow: auto;
    z-index: 2;
}
.list-item {
    all: unset;
    height: 40px;
    color: black;
    font-family: sans-serif;
    padding: 10px 20px;
    border-bottom: 1px solid gray;
    font-family: 'Pixel';
    cursor: pointer;
    flex-shrink: 0;
    text-transform: uppercase;
}
.inner-padding {
    padding: 10px 20px;
}
button {
    font-family: 'Pixel';
    cursor: pointer;
}
.back-btn {
    margin-top: auto;
    border-bottom: none;
}
.disabled {
    color: gray;
}
.uppercase {
    text-transform: uppercase;
}
.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}
.hidden {
    display: none !important;
}

.progressbar-background {
    /* background-color: rgb(193, 193, 193); */
    width: 100%;
    height: 20px;
    /* padding: 5px; */
    background: repeating-linear-gradient(90deg, black 5px, transparent 8px);
}

.progressbar-rod {
    background-color: rgb(0, 0, 0);
    height: 100%;
}

.btn {
    all: unset;
    border: none;
    text-align: center;
    border: 1px solid white;
    background-color: black;
    cursor: pointer;
    min-height: 30px;
}

.main-action-icon{
    all: unset;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.382);
    height: 30px;
    /* filter: grayscale(); */
    z-index: 1;
    cursor: pointer;
}
.main-action-icon:hover {
    filter: none;
    background-color: rgba(0, 0, 0, 0.544);
}

.background-canvas {
    background-color: white;
    position: absolute;
    width: 80vw;
    height: 50vh;
    filter: blur(100px);
}