:root {
    --color-a-1: #ff8100;
    --color-a-2: #ff00c6;
    --color-a-3: #ffcf9d;
    --color-a-4: #ffb1ee;
    --color-a-5: #ffddb8;
    --color-a-6: #ffe5ca;
    --color-a-7: #ffcaf4;
    --color-a-8: #ffd7bf;
    --color-a-9: #ffdaf7;
    --color-a-10: #D88C9A;
    --color-b-1: #FBACBE;
    --color-b-2: #282830;
    --color-b-3: navajowhite;
    --color-b-4: white;
    --color-b-5: #ffb362;
    --color-b-6: #FFCF9D;
    --color-b-7: #FFB1EE;
    --color-b-8: rgba(0, 0, 0, 0.25);
    --color-b-9: rgb(0, 0, 0);
    --color-b-10: black;
    --color-c-1: #00000040;
    --color-c-2: #000000;
    --color-c-3: rgba(255, 255, 255, 0.281);
    --color-c-4: #222285;
    --color-c-5: #ffb4e6;
    --color-c-6: rgb(245, 245, 245);
    --color-c-7: #0000001a;
    --color-c-8: rgba(255, 255, 255, 0.849);
    --color-c-9: #ff8000;
    --color-c-10: #ffffff7a;
    --color-d-1: #ff80006b;
    --color-d-2: #ff0000;
    --color-d-3: #ffffffb5;
    --color-d-4: #0000004a;
    --color-d-5: rgb(255, 255, 255);
    --color-d-6: rgba(255, 255, 255, 0.9);
    --color-d-7: rgba(255, 255, 255, 0.158);
    --color-d-8: #ff72e0;
    --color-d-9: #ffffff;
    --color-d-10: #ffffff63;
    --color-e-1: #ffffff3b;
    --color-e-2: #fa9189;
    --color-e-3: #fcae7c;
    --color-e-4: #99ccff;
    --color-e-5: #ffcc99;
    --color-e-6: rgb(164, 228, 169);
    --color-e-7: #ffe699;
    --color-e-8: #fb88ff;
    --color-e-9: #ff99cc;
    --color-e-10: #d1bdff;
    --color-f-1: gray;
    --color-f-2: rgb(193, 193, 193);
    --color-f-3: rgba(0, 0, 0, 0.382);
    --color-f-4: rgba(0, 0, 0, 0.544);
    --color-f-5: rgb(255, 237, 217);
    --color-f-6: rgba(0, 0, 0, 0.333);
    --color-f-7: rgba(0, 0, 0, 0.082);
    --color-f-8: #f7f7f7;
    --color-f-9: #00000057;
    --color-f-10: #00000061;
    --color-g-1: #0000005c;
    --color-g-2: #ffffff5c;
    --color-g-3: rgba(255, 255, 255, 0.3);
    --color-g-4: rgba(0, 0, 0, 0.65);
    --color-g-5: #ffe3c7;
    --color-g-6: #ffcc97;
    --color-g-7: #ded4ff;
    --color-g-8: #bca8ff;
    --color-g-9: #3d00ff;
    --color-g-10: #12004e;
    --color-h-1: #f4f0ff;
    --color-h-2: #e7e0ff;
    --color-h-3: #ded2ff;
    --color-h-4: #272727;
    --color-h-5: #ffffff1a;
    --color-h-6: rgb(255, 115, 50);
    --color-h-7: rgb(255, 101, 30);
    --color-h-8: rgb(255, 81, 0);
    --color-h-9: #ED254E;
    --color-h-10: #180067;
    --color-i-1: rgb(78, 125, 255);
    --color-i-2: rgba(255, 255, 255, 0.175);
    --color-i-3: rgba(255, 255, 255, 0.105);
    --color-i-4: #00000042;
    --color-i-5: rgba(0, 0, 0, 0.494);
    --color-i-6: #F44336;
    --color-i-7: #ffffffc4;
    --color-i-8: orange;
    --color-i-9: lightgray;
    --color-i-10: rgb(138, 138, 138);
    --color-j-1: #0000002e;
    --color-j-2: #FFD9DA;
    --color-j-3: #EA638C;
    --color-j-4: #8D0034;
    --color-j-5: #4E36D3;
    --color-j-6: #8CD867;
    --color-j-7: #ffedda;
    --color-j-8: #967c61;
    --color-j-9: #ffd6a9;
    --color-j-10: #fff4e8;
    --color-k-1: #ffc280;
    --color-k-2: #ffd2a1;
    --color-k-3: #b0beff;
    --color-k-4: #ffd079;
    --color-k-5: wheat;
    --color-k-6: #ff8300;
    --color-k-7: #ffecd7;
    --color-k-8: rgba(0, 0, 0, 0.418);
    --color-k-9: #2f1190;
    --color-k-10: #DBDBF4;
    --color-l-1: #ffe4bc;
    --color-l-2: #fff7ee;
    --color-l-3: #934a00;
    --color-l-4: #ff9d3a;
    --color-l-5: #cf6800;
    --color-l-6: #ff952b;
    --color-l-7: #ffa952;
    --color-l-8: #ff572257;
    --color-l-9: rgba(255, 255, 255, 0.5);
    --color-l-10: #ff840080;
    --color-m-1: rgb(255, 181, 97);
    --color-m-2: rgba(255, 255, 255, 0.521);
    --color-m-3: #ffffff00;
    --color-m-4: #ff931f;
    --color-m-5: rgba(255, 255, 255, 0.32);
    --color-m-6: #0000003d;
    --color-m-7: #00000000;
    --color-m-8: #00000082;
    --color-m-9: rgb(255, 128, 0);
    --color-m-10: #00000028;
    --color-n-1: #0000000f;
    --color-n-2: #ffdfa4;
    --color-n-3: #6d4600;
    --color-n-4: #d1c3ff;
    --color-n-5: #a30000;
    --color-n-6: #ffc3c3;
    --color-n-7: #0f8500;
}

.theme {
    /* Apply this class to use the theme */
}